.dropdown {
  > [data-react-toolbox="input"] {
    border: 1px solid #e4d9cf;
    border-radius: 500px;
    padding: 0;

    &:after, &:before {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 1.4rem;
      width: 0;
      height: 0;
      content: "";
      border-top: 0.5rem solid currentColor;
      border-right: 0.4rem solid transparent;
      border-left: 0.4rem solid transparent;
    }

    &:after {
      margin-top: -0.2rem;
      right: 1.3rem;
      border-top-color: #FFF;
      border-top-width: 0.3rem;
      border-right-width: 0.5rem;
      border-left-width: 0.5rem;
    }

    > input {
      border: 0 none;
      padding-left: 1.4rem;
      padding-right: 1.4rem;
    }

    > span:first-of-type {
      display: none;
    }
  }

  > ul {
    padding: 1rem 0;
    border-radius: 1.8rem;
    margin-top: -1rem;

    > *:hover {
      background-color: #F1EAE5;
    }
  }
}
