

@media all and (max-width: 1267px) {
  .teamOfferWrapper {
    .titleAndPurchase {
      .header {
        text-align: center;
        display: block;

        .deliveryPeriodWrapper {
          margin: 0 auto 1.5rem;
        }
      }
    }
  }
}

@media all and (max-width: 957px) {
  .teamOfferWrapper {
    position: relative;

    .cookContainer {
      display: none;

      &.showCookModal {
        z-index: 99;
        display: inline-block;
        min-width: 100%;
        position: absolute;
        max-width: 100%;
        margin: 0;
        animation-name: fadeInDown;
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }
    }

    .titleAndPurchase {

      .cookPreview {
        display: inline-block;
      }

      .countAndPurchase {
        display: block;

        .card {
          &.purchaseCard, &.countCard {
            margin: 1rem 0 0 0;
          }
        }
      }
    }
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
