.avatarContainer {
  width: 70%;
  margin: 1rem auto;
  padding-top: 70%;
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 500px;
    border: 0.4rem solid #c29872;
  }
}

.leftSidebarCard {
  text-align: center;

  .cookName {
    font-weight: 500;
    font-size: 2.4rem;
    color: #685c50;
    margin: 1rem 0 0.4rem 0;
  }
}

.ratingContainer {
  :global(.rsr-root), :global(.rsr-container) {
    display: inline-block;
    vertical-align: middle;
  }

  .feedback {
    vertical-align: middle;
    margin-left: 1rem;
    color: $color-accent;
    text-decoration: underline;
    font-size: 1.4rem;
  }
}

.sanitaryBookContainer {
  margin: 2rem 0;
}

.sanitaryBook {
  padding: 1.2rem 3rem;
  border-radius: 500px;
  display: inline-block;
  border: 1px solid $color-accent;
  font-size: 1.6rem;
  color: $color-accent;

  a {
    color: $color-accent;
    text-decoration: underline;
  }
}

.otherCookPhotosContainer, .socialContainer {
  text-align: left;
}

.otherCookPhotosContainer {
  img {
    border-radius: 4px;
    margin-right: 1rem;
    width: 100%;
  }
}

.otherCookPhotoContainer {
  width: 25%;
  display: inline-block;
  padding: 0.4rem;
  margin-bottom: 2rem;
}

.otherCookPhotos {
  margin: 0 -0.4rem;
}

.socialButton {
  margin: 0 0.5rem;
}

.socialButtons {
  margin: 0 -0.5rem;
}

.mainPhoto, .otherPhotos {
  width: 50%;
  display: inline-block;
  padding: 0 1rem;
  vertical-align: top;

  img {
    width: 100%;
    border-radius: 5px;
  }
}

.otherPhotosContent {
  margin: -1rem;
}

.photoContainer {
  width: 50%;
  display: inline-block;
  padding: 1rem;
  vertical-align: top;
}

.photos {
  margin: 0 -1rem 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 1.5rem 0;
}

.deliveryPeriod {
  color: #4a4a4a;
}

.dishesContainer, .priceContainer {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}

.dishesContainer {
  padding-right: 1rem;
}

.priceContainer {
  padding-left: 1rem;
}

.dish {
  list-style-type: none;
  display: flex;
  align-items: baseline;
  padding: 0.5rem 0;
  font-size: 1.6rem;
  color: #685c50;
}

.dishDots {
  flex: 1;
  border-bottom: 1px dotted currentColor;
  margin: 0 0.5rem;
}

.dishSize {
  color: $color-accent;
  font-weight: 500;
}

.priceAmount {
  font-weight: 300;
  font-size: 7rem;
}

.priceCurrency {
  color: #979797;
  font-size: 1.6rem;
}

.priceContainer {
  display: inline-flex;
  vertical-align: middle;
  justify-content: space-around;
  align-items: center;
}

.center, .leftSidebar {
  display: flex;
  flex-direction: column;
}

.dishAndPriceCard {
  flex: 1;
}

.otherLunches {
  margin: 2rem;
}

.moreContainer {
  text-align: center;
  margin: 3rem 0 2rem;

  .moreButton:not([disabled]) {
    padding: 0 3rem;
    height: 4.5rem;
    color: #554a40;
  }
}
