.timerSection {
  font-size: 1.6rem;
  color: #685c50;
}

.timerWrapper {
  margin: 1rem 0;
}

.timer {
  background-color: #958C82;
  padding: 0 1rem;
  line-height: 1.4em;
  color: #E9E3DE;
  border-radius: 2px;
  font-size: 2rem;
  margin: 1rem auto;
}
