.table {
  tbody {
    border-bottom: 1px solid #958C82;

    &:hover {
      background: #F3F3F3;
    }

    tr {
      border-bottom: 0;

      &:hover {
        background: inherit;
      }
    }
  }
}
