.bottom {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.rating {
  :global .rsr-container {
    display: inline-block;
    vertical-align: middle;
  }
}

.price {
  margin-left: auto;
}

.priceAmount {
  font-size: 5.3rem;
  font-weight: 300;
}

.priceCurrency {
  font-size: 1.4rem;
  color: #a18e7f;
}

.feedback {
  margin-left: 1rem;
  vertical-align: middle;
  color: #a18e7f;
  font-size: 1.2rem;
}

.lunch {
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  min-width: 300px;
  display: block;
  color: #000;

  [data-react-toolbox="avatar"] {
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
  }
}

.card:hover {
  box-shadow: 0 8px 10px 1px rgba(109, 78, 47, 0.14), 0 3px 14px 2px rgba(109, 78, 47, 0.12), 0 5px 5px -3px rgba(109, 78, 47, 0.2);
}

.dish {
  padding: 0.7rem 1.3rem;
  margin: 0.3rem;
  background-color: rgba(255,255,255,0.8);
  border-radius: 500px; // http://stackoverflow.com/questions/18794947/capsule-shape-using-border-radius-without-a-set-width-or-height
  display: inline-block;
  font-size: 1.2rem;
  color: #1b1b1b;
}

.dishes {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 1.2rem;
}

.cookName {
  font-weight: 500;
  margin-bottom: 0.6rem;
  font-size: 1.8rem;
}
