@import "../../theme/variables.scss";

.title {
  margin: 1rem 0;
}

.firstLine {
  margin: 2rem 0 1rem;

  h2, .filter {
    display: inline-block;
    vertical-align: middle;
  }

  h2 {
    margin-right: 1rem;
  }
}

.filter {
  margin-right: 0.5rem;
}

.loadMoreWrapper {
  text-align: center;
}

@media all and (max-width: 767px) {
  .firstLine .filter {
    margin: 0.5rem auto;
    display: block;
  }
}

.nearestWrapper {
  margin-bottom: 5rem;
}
