.amountCard {
  text-align: center;
  width: 250px;

  .summary {
    padding-top: 0.5rem;

    .ordered {
      color: #685c50;
      font-weight: 500;
    }
    .available {
      margin-left: 0.5rem;
      color: #888;
    }
  }
}

.imagePreviewWrapper {
  padding: 0.5rem 0 0 1rem;
  width: 30%;
  img {
    max-width: 100%;
    border-radius: 0.5rem;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin: 10px 0;
  padding-bottom: 10px;
  flex-wrap: wrap;

  & > div {
    margin: 1%;
  }
}

.infoCard {
  width: 36%;
}

.descriptionWrapper {
  margin: 0 1.6rem;
  color: #685c50;

  .description {
    padding: 5px 0;
    display: block;
    text-align: justify;
  }
}

.dishesWrapper {
  margin: 1rem 1.6rem;
}

@media (max-width: 963px) {
  .portionAmountHeader {
    text-align: center;
  }

  .container > div {
    width: 70%;
  }
}

@media (max-width: 529px) {
  .container > div {
    width: 90%;
  }
}

.priceSection {
  margin: 0 1.6rem;
  display: flex;
  flex-direction: column;
  color: #685c50;
  font-size: 1.8rem;

  .price {
    font-size: 3rem;
    font-weight: 500;

    .currency {
      font-size: 1.5rem;
      font-weight: normal;
    }
  }
}
