.orderTimeoutWrapper {
  display: flex;
  align-items: baseline;
  padding: 0.5rem 0;
  color: #a4958b;
  line-height: 1.4em;
}

.timer {
  margin-left: auto;
  display: inline-block;
  vertical-align: middle;
  background-color: #958C82;
  padding: 0 0.4rem;
  color: #E9E3DE;
  border-radius: 2px;
}
