.item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 1.4rem;
  color: $color-primary;
  margin: 0.5rem 0;
  padding: 0 0 0 1.6rem;
}

.removableItem {
  padding: 0;
}

.dots {
  flex: 1;
  border-bottom: 1px dotted;
  margin: 0 0.5rem;
}

.currency {
  font-size: 0.8em;
}

.total {
  font-size: 1.6rem;
  margin-top: 2rem;
  font-weight: 500;
}

.remove {
  margin-right: 0.4rem;
  opacity: 0.7;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}
.headerReadyBy {
  text-align: right;
  font-size: 1.4rem;
  color: #685c50;
  span {
    color: #958C82;
  }
  .dateDelivery {
    margin: 0 0 0 0.5rem;
    display: inline-block;
    padding: 0.2rem;
    color: #fff;
    background: #958C82;
  }
}
.headerCookName {
  font-size: 1.6rem;
  color: #685c50;
}

.dateGroup {
  margin: 0 0 3rem;
}

.cookGroup {
  margin: 0 0 2rem;
}

.dishesTag {
  display: inline-block;
  padding: 0.5rem;
  background: #F1EAE5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 9.85rem;
  margin: 0 0.2rem 0.2rem 0;
  font-size: 1.2rem;
  vertical-align: middle;
}

.amountButton {
  min-width: 2rem;
  width: 2rem;
  max-height: 2rem;
  vertical-align: middle;
  padding: 0;
  text-align: center;

  > span:first-child {
    margin: 0;
    line-height: inherit;
    font-size: 110%;
  }
}
