.orderPreviewWrapper {
  width: 100%;
  margin-bottom: 2rem;
  overflow-x: auto;
}

.ordersPlaceholder {
  text-align: center;
}

.table {
  width: 100%;
  max-width: 100%;

  tr {
    text-align: center;
    border-bottom: 1px solid #F3F3F3;
    td {
      padding: 1rem;
    }
  }

  thead tr {
    color: #685c50;
    font-size: 1.6rem;
    font-weight: 500;
  }

  tbody tr {
    cursor: pointer;

    &:hover {
      background: #F3F3F3;
    }
  }
}

.photoWrapper {
  width: 150px;
  margin: 0 auto;

  img {
    max-width: 80%;
    border-radius: 8px;
  }
}

.dish {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

.dishName {
  background-color: #958C82;
  padding: 0 0.4rem;
  line-height: 1.4em;
  color: #fff;
  white-space: nowrap;
  display: block;
  margin: 1px 1px 3px 1px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2px;
}

.nowrap {
  white-space: nowrap;
}

.borderLeft {
  border-left: 1px solid #F3F3F3;
}

.borderRight {
  border-right: 1px solid #F3F3F3;
}

@media all and (max-width: 767px) {
  .hiddenXs {
    display: none;
  }
}

.orderItemWrapper {
  margin: 3px;
  background: #F3F3F3;
  border: 1px solid #bababa;
  border-radius: 3px;
}


@media print {
  .table {
    thead tr td, tbody tr td {
      padding: 10px 5px ;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      max-width: 100px;
    }
  }

  .orderPreviewWrapper {
    width: 1000px;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    overflow: visible;
    box-shadow: none;
    display: block;
  }

  .dishName {
    color: #000;
  }
}
