.root {}

.submitContainer {
  margin-top: 2rem;
  > button:not(:last-child) {
    margin-right: 2rem;
  }
}

.section {
  margin-bottom: 1rem;
}

.error {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #de3226;
}

.twoColSection {
  display: flex;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  width: 100%;
  > div {
    width: 50%;
    padding: 0 0.5rem;
  }
}

.paymentType {
  > label:last-child {
    margin-bottom: 0.5rem;
  }
}
