.rememberMe {
  margin: 0;
}

.socialButtons {
  text-align: center;
}

.socialButton {
  margin: 0 0.5rem;
}

.separator {
  margin: 0 auto 2rem;
  text-align: center;
  color: #afa49d;
  display: flex;
  align-items: center;

  &:before, &:after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #efe8e2;
    height: 1px;
  }
}

.separatorLabel {
  margin: 0 1rem;
  font-size: 1.4rem;
}

.buttons {
  margin: 2.5rem 0;
}

.buttons, .recoveryContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;

  [data-role="label"] {
    font-size: 1.6rem;
  }
}

.recoveryContainer {
  margin: 1.5rem 0 2.5rem;
}

.input {
  margin: 1rem 0;
}

.root .button {
  height: 5.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  padding-left: 3rem;
  padding-right: 3rem;
}

.forgotLink {
  color: $color-accent;
  text-decoration: underline;
}

@media all and (max-width: 767px) {
  .buttons {
    display: block;
    button {
      width: 100%;
      display: block;
      margin-bottom: 0.5rem;
    }
  }
  .rememberMe {
    padding-right: 1rem;
  }
}
