.lunches {
  h4 {
    color: #a4958b;
    font-size: 1.6rem;
    line-height: 120%;
    margin: 2rem 0;
  }
}

.lunchContainer {
  max-width: 450px;
  min-width: 350px;
  display: inline-block;
  flex: 1 1 auto;
}

.lunch {
  margin: 1rem;
}

.lunchesGroupContent {
  margin: 0 -1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
