.lunches {
  h4 {
    color: #a4958b;
    font-size: 1.6rem;
    line-height: 120%;
    margin: 2rem 0;
  }
}

.lunchContainer {
  width: 50%;
  display: inline-block;
}

.lunch {
  margin: 1rem;
}

.lunchesGroupContent {
  margin: 0 -1rem;
}
