.teamOfferWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .cookContainer {
    flex: 1;
    margin-right: 1rem;
    min-width: 290px;
    max-width: 290px;
  }

  .titleAndPurchase {
    flex: 2;
    margin-left: 1rem;

    .header {
      display: flex;
      align-items: center;

      .title {
        flex: 3
      }

      .deliveryPeriodWrapper {
        flex: 1;
        max-width: 290px;
      }
    }
  }
}

.countAndPurchase {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .card {
    flex: 1;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #685c50;
    text-align: center;
  }

  .orderCount {
    color: #de3226;
  }
  .amountLabel {
    padding-top: 1rem;
    a {
      color: #000;
      text-decoration: underline;
    }
  }

  .purchaseCard {
    margin-left: 1rem;
    .buyButton {
      margin-bottom: 0.5rem;
    }

    a {
      color: #685c50;
    }
  }

  .countCard {
    margin-right: 1rem;
    font-size: 1.8rem;
    .count {
      margin-bottom: 0.5rem;
    }
    .cost {
      font-weight: 500;
      font-size: 5.2rem;
    }
  }

  .purchaseCard {
    .deliveriesHint {
      font-size: 1.6rem;
    }
    .buyButton {
      margin-top: 1rem;
    }
  }
}

.cookPreview {
  display: none;
}

.overlay {
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  position: fixed;
  transition: opacity 300ms ease;
}

@media all and (max-width: 1267px) {
  .teamOfferWrapper {
    .titleAndPurchase {
      .header {
        display: block;
        text-align: center;

        .deliveryPeriodWrapper {
          margin: 0 auto 1.5rem;
        }
      }
    }
  }
}

@media all and (max-width: 957px) {
  .teamOfferWrapper {
    position: relative;

    .cookContainer {
      display: none;

      &.showCookModal {
        z-index: 99;
        display: inline-block;
        min-width: 100%;
        position: absolute;
        max-width: 100%;
        margin: 0;
        animation-name: fadeInDown;
        animation-duration: 0.5s;
        animation-fill-mode: both;
      }
    }

    .titleAndPurchase {

      .cookPreview {
        display: inline-block;
      }

      .countAndPurchase {
        display: block;

        .card {
          &.purchaseCard, &.countCard {
            margin: 1rem 0 0 0;
          }
        }
      }
    }
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
