@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
}
.firstLine {
  display: flex;
  align-items: center;

  h1 {
    margin-right: auto;
  }
}

.sortingDropdown {
  margin-left: 2rem;
}
