@import "../../theme/variables.scss";

.firstLine h1, .timeDropdown {
  display: inline-block;
  vertical-align: bottom;
}

.firstLine h1 {
  margin-right: 1rem;
}

.root .filtersCard {
  margin-top: 3.2rem;
  flex: 1;
  box-shadow: none;
  border: 1px solid #E4D9CF;
}

.dishesFilter {
  min-width: 15rem;
  margin-bottom: 1rem;
}

.loadMoreWrapper {
  text-align: center;
}
