.root {
  margin: 0 auto;
}

.title {
  color: #685c50;
  text-align: center;
  margin: 3rem 0;
  font-size: 36px;
  font-weight: 400;
}

.preferencesWrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-around;

  .preferenceWrapper {
    width: 300px;
    margin-bottom: 30px;

    a:hover {
      .preference {
        transform: scale(1.1);

      }
    }

    .preference {
      margin: 0 auto;
      padding: 15px 0;
      transition: transform 0.3s ease;

      .imageWrapper {
        width: 150px;
        margin: 0 auto;
        text-align: center;
        img {
          max-width: 100%;
          border-radius: 50%;
          transition: box-shadow 0.3s ease;
          display: inline-block;
        }
      }

      .preferenceName {
        color: #685c50;
        text-align: center;
        margin-top: 15px;
        font-size: 22px;
      }
    }
  }
}

@media all and (max-width: 991px) {
  .preferencesWrapper .preferenceWrapper {
    width: 33.3333%;
    margin: 0;
  }
}

@media all and (max-width: 767px) {
  .preferencesWrapper .preferenceWrapper {
    width: 50%;
  }
}
