.root:not(.flat) {
  box-shadow: 0 2px 4px rgba(221, 213, 205, 0.85);
  z-index: initial;
  justify-content: center;
}

@media print {
  .root {
    display: none;
  }
}

.brand {
  margin-bottom: 5px;
  margin-right: 3rem;
}

.brandIcon {
  $size: 47px;
  display: inline-block;
  background: #FFF url('../MainLogo/main_logo.svg') no-repeat center center;
  width: $size;
  height: $size;
  margin: 0 10px 0 0;
  vertical-align: bottom;
}

.brandLabel {
  display: inline-block;
  background: #FFF url('./appetini_label.svg') no-repeat center center;
  width: 125px;
  height: 35px;
  vertical-align: bottom;
  position: relative;
}

.brandLabelCity {
  font-size: 10px;
  text-transform: uppercase;
  color: $color-primary;
  position: absolute;
  bottom: -2px;
  right: -1px;
  letter-spacing: 2px;
  font-weight: 500;
}

.navigationRight {
  flex: 1;
  text-align: right;
  padding: 0;
}

.search {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  border-radius: 500px;
  border: 1px solid #CCC;
  transition: width 300ms ease;

  .searchButton:not([disabled]) {
    color: #777;
    height: 100%;
    width: 100%;
  }
  input {
    display: none;
  }

  &:hover {
    width: 40rem;

    .searchButton {
      display: none;
    }

    input {
      display: block;
      width: 100%;
      height: 100%;
      border: 0 none;
      padding: 0 1.4rem;
      background: none;
    }
  }
}

.logout {
  margin-right: 3rem;
}

.root .desktopMenu {
  display: none;
}

.userMenu {
  position: relative;
  display: inline-block;
  > .menuComponent {
    top: 100%;
    margin-top: 1rem;
  }
}
.shopCart {
  display: none;
  margin: 0 2rem 0 0;
  vertical-align: middle;
}
.leftMenu {
  display: flex;
  flex: 1;
}
.shopCartMob {
  display: inline-block;
  margin: 0 0 0 1.5rem;
}
@media (min-width: 760px) {
  .root .desktopMenu {
    display: initial;
  }
  .leftMenu {
    display: none;
  }
  .root .mobMenu {
    display: none;
  }
  .root .shopCartMob {
    display: none;
  }
  .root .shopCart {
    display: inline-block;
  }
  .navigationRight {
    align-items: center;
  }
}

@media (max-width: 785px) {
  .brand {
    margin-right: 0;
  }
}

@media (max-width: 925px) {
  .brandLabel {
    display: none;
  }
  .brandIcon {
    margin: 0;
  }
}
