.root {
  display: flex;
  padding: 0 1.2rem;
}

.leftSidebar {
  padding: 0 1.2rem;
  $color: #685c50;
  color: $color;
  width: 33.33%;

  input {
    color: $color;
  }

  h3:not(:first-child) {
    margin-top: 1.4rem;
  }

  h3 {
    margin-bottom: 1.4rem;
  }
}

.center {
  padding: 0 1.2rem;
  display: inline-flex;
  flex-direction: column;
  width: 66.66%;
}
