.root {
  display: flex;
  align-items: flex-start;
}

.leftSidebar {
  flex: 1;
  background-color: #FFF;
  margin: 0 2.5rem;
  $color: #685c50;
  color: $color;

  input {
    color: $color;
  }

  .card {
    overflow: visible;
  }

  h3:not(:first-child) {
    margin-top: 1.4rem;
  }

  h3 {
    margin-bottom: 1.4rem;
  }
}

.center {
  flex: 2;
  margin: 0 3rem 0 0
}
