.dishName {
  background-color: #958C82;
  padding: 0 0.5rem;
  line-height: 1.4em;
  color: #fff;
  white-space: nowrap;
  display: block;
  margin: 1px 1px 5px 1px;
  max-width: 14rem;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2px;
}
