.share {
  margin-bottom: 2rem;
  .helperText {
    color: #888;
    font-size: 1.3rem;
  }
}

.shareWrapper {
  padding: 1rem;

  .inputsWrapper {
    margin-bottom: 0.5rem;
    display: flex;
  }

  .shareInput {
    margin-right: 1rem;
    width: 100%;
  }

  .shareButton {
    background-color: #f8a900!important;
    min-width: 140px;
  }
}

@media all and (max-width: 767px) {
  .shareWrapper .inputsWrapper {
    display: block;
    .shareInput {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .shareButton {
      display: block;
      margin: 0 auto;
    }
  }
}
