.root {
  text-align: center;
  max-width: 900px;
  margin: 2rem auto;
  background: #fff;
  border: 1px solid #E4D9CF;
  padding: 1.4rem 1.6rem;

  h1 {
    margin: 0 0 2rem;
    font-size: 3.2rem;
  }
}

.description {
  color: #8f847a;
  font-size: 1.6rem;
  margin: 1rem 0;
}

.tariffs {
  display: flex;
  margin: 0 0 2rem;
  flex-wrap: wrap;
}

.comment {
  color: #8f847a;
}
