.app {
  .brand {
    $size: 40px;
    display: inline-block;
    background: #2d2d2d url('../Home/logo.png') no-repeat center center;
    width: $size;
    height: $size;
    background-size: 80%;
    margin: 0 10px 0 0;
    border-radius: $size / 2;
    vertical-align: middle;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}
.appContent {
  margin-top: 6.4rem;
  z-index: 1;
}

.activeNavLink {
  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: .3rem;
    content: '';
    background-color: $palette-green-500;
  }
}

.navigation {
  flex: 1;
  text-align: right;
  > button, > a {
    vertical-align: middle;
  }

  > a {
    font-size: 1.4rem;
    padding: 0 1.5rem;
    line-height: 6.4rem;
    height: 6.4rem;
    position: relative;
    display: inline-block;
  }
}

.social {
  >button {
    margin-left: 10px;
  }
}

.firstLine, .secondLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstLine {
  margin-bottom: 15px;
}

.terms {
  padding: 1rem;
}

.footer {
  background-color: rgba(180,180,180,0.5);
  padding: 20px 50px;
}

.progress {
  position: fixed;
  z-index: 101;
  top: 0;
  height: 0;
  transition: height 0.5s ease;
}

.progressActive {
  height: 0.4rem;
}
