body {
  background-color: #fdfaf7;
  background-image: url('./bg/p2.png'), url('./bg/p1.png');
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}
.appContent {
  margin-top: 6.4rem;
  z-index: 1;
  flex: 1;
}

.social {
  >button {
    margin-left: 10px;
  }
}

.firstLine, .secondLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstLine {
  margin-bottom: 15px;
}

.terms {
  padding: 1rem;
}

.footer {
  background-color: rgba(180,180,180,0.5);
  padding: 20px 50px;
}

.progress {
  position: fixed;
  z-index: 101;
  top: 0;
  height: 0;
  transition: height 0.5s ease;
}

.progressActive {
  height: 0.4rem;
}
